DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder

# Change it on Prod
#RewriteBase /portal/api
RewriteBase /kncs-website/backend

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]

# Change it on prod
#Setenv HTTP_SERVER_ROOT_DIR "/portal/api"
Setenv HTTP_SERVER_ROOT_DIR "/kncs-website/backend"
SetEnv HTTP_MYSQL_DB_HOST "localhost"
SetEnv HTTP_MYSQL_DB_USER "root"
SetEnv HTTP_MYSQL_DB_PASS ""
SetEnv HTTP_MYSQL_DB_NAME "kncs"
SetEnv HTTP_RECAPTA_SERECT "agwrrhehe"
SetEnv HTTP_JWT_SECRET "fMLdAh1gUVd847WjHKq2SImorf7hVLNjpjs526NHWIDddvX8OB"